:root{
    --dark-violate:#1B1938;
    --blue:#0A0C19;
    --violate:#AA5CDB;
    --primary-font:'Inter', sans-serif;
    --secondery-font:'Lexend Deca', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}

.card{
    width: 70%;
    height: 60vh;
   
    display: flex;
   
}
.card-text{
    width: 50%;
    height: 100%;
    background-color: var(--dark-violate);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    border-radius: 8px 0px 0px 8px;
}
.card-title>h1{
    margin-bottom: 25px;
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 32px;
}
.card-title>p{
    font-family: var(--primary-font);
  
}
.card-title>h1>span{
    color: var(--violate) ;
}
.card-stat p{
    font-family: var(--secondery-font);
    
}
.card-image{
    width: 50%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    overflow: hidden;
    position: relative;
    
}
.card-image> img{
    
    width: 100%;
    height: 100%;
    object-position: left;
}
.card-stat{
    display: flex;
    gap: 30px;
}
.overlay{
    background-color: violet;
    width: 100% ;
    height: 100%;
    position: absolute;
    opacity: 0.3;

}
@media only screen and (max-width:1100px){
    .card-text{
        width: 75%;
    }
    .card-image{
        width: 25%;
    }
}
@media only screen and (max-width:800px){
    .card{
        flex-direction: column-reverse;
        height: 90vh;
    }
    .card-image{
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }
    
    
    .card-text{
        width: 100%;
        border-radius: 0px 0px 8px 8px;
        margin-top: -5px;
        padding: 25px;
    }
}

@media only screen and (max-width:500px){
    .card-text{
        height: 70%;
    }
 
    .card-stat{
        gap:15px;
    }
    .card-image{
        height: 30%;
    }
}